.new {
    width: 100%;
    display: flex;
}

.new__container {
    flex: 6;
}

.new__inner {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    margin: 30px;
    border-radius: 10px;
}

.new__top,
.new__bottom {
    display: flex;
    align-items: center;
    padding: 20px;
}

.new__top {
    border-bottom: 1px solid #ccc;
}

.new__top h1,
.new__bottom h1 {
    font-size: 20px;
}

.new__left {
    flex: 1;
    text-align: center;
}

.new__left img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.new__right {
    flex: 2;
    padding-right: 40px;
}

.new__right form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.new__right label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}

.new__formInput {
    display: flex;
}

.new__formInput .new__icon {
    cursor: pointer;
}

.new__right button {
    width: 150px;
    padding: 10px;
    border: none;
    background-color: #19cd94;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 99px;
}
